html {
    background-image: linear-gradient(to right, rgb(224,214,214), rgb(224,150,150))
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.horloge {
    width: 480px;
    height: 480px;
    border: 20px solid white;
    border-radius: 50%;
    margin: 170px auto 0 auto;
    position: relative;
    padding: 36px;
}
.face {
    position: relative;
    width: 100%;
    height: 100%;
}

.aiguille {
    width: 50%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s ease;
}

.heure {
    width: 35%!important;
    right: 50%;
}
