:root {
    --base: #ffc600;
    --taille: 100px;
    --blur: 10px;
}

img {
    height: var(--taille);
    filter: blur(var(--blur));
}

.titre {
    color: var(--base);
    font-size: 80px;
}

body {
    text-align: center;
    background: #193549;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}
input {
    width: 100px;
}
